/* .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}
.navbar .logo{
    width: max(10%,80px);


}
.navbar .profile{
    width: 40px;
} */


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 4%; /* Reduced vertical padding */
    background: linear-gradient(135deg, #ff6347, #ff867f);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: white;
    transition: background 0.3s ease;
}

.navbar:hover {
    background: linear-gradient(135deg, #ff867f, #ff6347);
}

.navbar .logo {
    width: max(7%, 70px); /* Ensure the logo does not become too small */
    transition: transform 0.3s;
}

.navbar .logo:hover {
    transform: scale(1.1);
}

.navbar .profile {
    width: 40px; /* Slightly smaller */
    height: 40px; /* Ensure square ratio */
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #ffffff;
    transition: border-color 0.3s, transform 0.3s;
}

.navbar .profile:hover {
    border-color: #ffe0e0;
    transform: rotate(90deg);
}

@media (max-width: 600px) {
    .navbar {
        padding: 4px 2%; /* Reduced padding on smaller screens */
    }

    .navbar .logo, .navbar .profile {
        display: none;
    }
}
